<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container">
    <a class="navbar-brand fw-bold" [routerLink]="['/']">FairHome</a>

    <div class="navbar-nav">
      <a class="nav-link" [routerLink]="['/']">Home</a>
      <a class="nav-link" [routerLink]="['/login']">Login</a>
      <a class="nav-link" [routerLink]="['/register']">Registrieren</a>
      <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      <a class="nav-link" [routerLink]="['/admin']">Admin</a>
    </div>
  </div>
</nav>